div {
  max-width: 500px;
  margin: 100px auto 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

a {
  float: right;
  /*background-color: green;*/
}

.twt {
  float: left;
}

.clearfix {
  clear: both;
}

.author {
  text-align: right;
  margin-bottom: 2em;
}

body {
  font-size: 1.2em;
}
