div {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

button {
  float: right;
}

.twt {
  float: left;
}

.clearfix {
  clear: both;
}

.author {
  text-align: right
}

body {
  font-size: 1.2em;
}
