div {
  max-width: 500px;
  margin: 100px auto 0;
  background-color: #fff;
  padding: 5px 25px;
  border-radius: 5px;
}

a {
  float: right;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.6;
}

.twt {
  float: left;
}

.clearfix {
  clear: both;
}

.author {
  text-align: right;
  margin-bottom: 2em;
}

body {
  font-size: 1.2em;
}
